logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.sss} %-5level %r --- [${INSTANCE_ID:default}] %X{x-debug} [%thread] %logger{40} : %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss.sss} %-5level %r --- [${INSTANCE_ID:default}] %X{x-debug} [%thread] %logger{40} : %msg%n"
  level:
    org:
      jooq: DEBUG

eureka:
  client:
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:9999/eureka/
  instance:
    prefer-ip-address: true

# server:
#   shutdown: graceful

management:
  info:
    env:
      enabled: true
  security:
    enabled: false
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      expose: "*"
      exposure:
        include: "*"

endpoints:
  enabled: true

spring:
  lifecycle:
    timeout-per-shutdown-phase: 60s
  servlet:
    multipart:
      max-file-size: -1
      max-request-size: -1

jwt:
  key: ficity_secret_token_for_the_new_saas_application_it_requires_a_very_long_key_to_sign_tokens
  token:
    rememberme:
      expiry: 525600
    default:
      expiry: 30

ui:
  jsURL: https://nclc-dev.s3.ap-south-1.amazonaws.com

files:
  resources:
    location:
      static: ./static
      secured: ./secured
