name: entity-collector-ci
on:
  push:
    paths:
      - "services/entity-collector/**"
      - ".github/workflows/collector-dev.yml"
  workflow_dispatch:

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    env:
      OCIR_HOST: <region>.ocir.io
      OCIR_REPO: <region>.ocir.io/${{ secrets.OCI_TENANCY_NS_DEV }}/entity-collector
    
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
         distribution: temurin
         java-version: '21'


      - name: Build dependencies first
        run: |
          mvn -q -DskipTests clean install -f commons/pom.xml
          mvn -q -DskipTests clean install -f commons-jooq/pom.xml
          mvn -q -DskipTests clean install -f commons-security/pom.xml


      - name: Build entity-collector jar
        working-directory: entity-collector
        run: mvn -q -DskipTests clean package

      - name: Copy built jar for Dockerfile
        run: |
          mkdir -p target
          cp entity-collector/target/entity-collector-1.0.0.jar target/


     # - name: Login to OCIR
     #   run: echo "${{ secrets.OCIR_AUTH_TOKEN_DEV }}" | docker login $OCIR_HOST -u "${{ secrets.OCIR_USERNAME_DEV }}" --password-stdin

      - name: Build docker image
        run: |
          docker build -t test/entity-collector-dev:${{ github.sha }} -f entity-collector/Dockerfile .
          docker tag test/entity-collector-dev:${{ github.sha }} test/entity-collector:latest
         # docker push $OCIR_REPO:${{ github.sha }}
         # docker push $OCIR_REPO:latest
