name: OCI Dev Deployment

on:
  #To trigger manually
  workflow_dispatch:
  push:
    branches: [oci-development]

env:
  ENVIRONMENT: ocidev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          ref: oci-development
      - name: Setting up Java
        uses: actions/setup-java@v3
        with:
          java-version: "21"
          distribution: "oracle"
      - name: Building commons
        working-directory: ./commons
        run: mvn clean install
      - name: Building commons-jooq
        working-directory: ./commons-jooq
        run: mvn clean install
      - name: Building commons-security
        working-directory: ./commons-security
        run: mvn clean install
      - name: Building commons-mongo
        working-directory: ./commons-mongo
        run: mvn clean install
      - name: Building commons-mq
        working-directory: ./commons-mq
        run: mvn clean install
      - name: Building config
        working-directory: ./config
        run: mvn clean install
      - name: Building eureka
        working-directory: ./eureka
        run: mvn clean install
      - name: Building gateway
        working-directory: ./gateway
        run: mvn clean install
      - name: Building security
        working-directory: ./security
        run: mvn clean install
      - name: Building ui
        working-directory: ./ui
        run: mvn clean install
      - name: Building files
        working-directory: ./files
        run: mvn clean install
      - name: Building core
        working-directory: ./core
        run: mvn clean install
      - name: Building multi
        working-directory: ./multi
        run: mvn clean install
      - name: Login to OCIR
        uses: docker/login-action@v3
        with:
          registry: ocir.us-ashburn-1.oci.oraclecloud.com
          username: ${{ secrets.OCI_NON_PROD_DOCKER_USER_NAME }}
          password: ${{ secrets.OCI_NON_PROD_CLI_AUTH_TOKEN }}
      - name: Docker version
        id: dockerVersion
        run: |
          VERSION=$(date '+%Y%m%d%H%M%S')
          echo "Setting version to ${VERSION}"
          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
      - name: Pushing Config Docker Image to OCI
        working-directory: ./config
        run: |
          docker pull openjdk:21-ea-jdk-oracle
          docker build -t dev-config-server:${{ steps.dockerVersion.outputs.VERSION }} --build-arg profileName=${ENVIRONMENT} .
          docker tag dev-config-server:${{ steps.dockerVersion.outputs.VERSION }} ocir.us-ashburn-1.oci.oraclecloud.com/idfmutpuhiky/dev-config-server:${{ steps.dockerVersion.outputs.VERSION }}
          docker push ocir.us-ashburn-1.oci.oraclecloud.com/idfmutpuhiky/dev-config-server:${{ steps.dockerVersion.outputs.VERSION }}
      - name: Pushing Eureka Docker Image to OCI
        working-directory: ./eureka
        run: |
          docker build -t dev-eureka-server:${{ steps.dockerVersion.outputs.VERSION }} .
          docker tag dev-eureka-server:${{ steps.dockerVersion.outputs.VERSION }} ocir.us-ashburn-1.oci.oraclecloud.com/idfmutpuhiky/dev-eureka-server:${{ steps.dockerVersion.outputs.VERSION }}
          docker push ocir.us-ashburn-1.oci.oraclecloud.com/idfmutpuhiky/dev-eureka-server:${{ steps.dockerVersion.outputs.VERSION }}
      - name: Pushing Gateway Docker Image to OCI
        working-directory: ./gateway
        run: |
          docker build -t dev-gateway-server:${{ steps.dockerVersion.outputs.VERSION }} .
          docker tag dev-gateway-server:${{ steps.dockerVersion.outputs.VERSION }} ocir.us-ashburn-1.oci.oraclecloud.com/idfmutpuhiky/dev-gateway-server:${{ steps.dockerVersion.outputs.VERSION }}
          docker push ocir.us-ashburn-1.oci.oraclecloud.com/idfmutpuhiky/dev-gateway-server:${{ steps.dockerVersion.outputs.VERSION }}
      - name: Pushing Core Docker Image to OCI
        working-directory: ./core
        run: |
          docker build -t dev-core-server:${{ steps.dockerVersion.outputs.VERSION }} .
          docker tag dev-core-server:${{ steps.dockerVersion.outputs.VERSION }} ocir.us-ashburn-1.oci.oraclecloud.com/idfmutpuhiky/dev-core-server:${{ steps.dockerVersion.outputs.VERSION }}
          docker push ocir.us-ashburn-1.oci.oraclecloud.com/idfmutpuhiky/dev-core-server:${{ steps.dockerVersion.outputs.VERSION }}
      - name: Pushing Multi Docker Image to OCI
        working-directory: ./multi
        run: |
          docker build -t dev-multi-server:${{ steps.dockerVersion.outputs.VERSION }} .
          docker tag dev-multi-server:${{ steps.dockerVersion.outputs.VERSION }} ocir.us-ashburn-1.oci.oraclecloud.com/idfmutpuhiky/dev-multi-server:${{ steps.dockerVersion.outputs.VERSION }}
          docker push ocir.us-ashburn-1.oci.oraclecloud.com/idfmutpuhiky/dev-multi-server:${{ steps.dockerVersion.outputs.VERSION }}
      - name: Pushing UI Docker Image to OCI
        working-directory: ./ui
        run: |
          docker build -t dev-ui-server:${{ steps.dockerVersion.outputs.VERSION }} .
          docker tag dev-ui-server:${{ steps.dockerVersion.outputs.VERSION }} ocir.us-ashburn-1.oci.oraclecloud.com/idfmutpuhiky/dev-ui-server:${{ steps.dockerVersion.outputs.VERSION }}
          docker push ocir.us-ashburn-1.oci.oraclecloud.com/idfmutpuhiky/dev-ui-server:${{ steps.dockerVersion.outputs.VERSION }}
      - name: Pushing Files Docker Image to OCI
        working-directory: ./files
        run: |
          docker build -t dev-files-server:${{ steps.dockerVersion.outputs.VERSION }} .
          docker tag dev-files-server:${{ steps.dockerVersion.outputs.VERSION }} ocir.us-ashburn-1.oci.oraclecloud.com/idfmutpuhiky/dev-files-server:${{ steps.dockerVersion.outputs.VERSION }}
          docker push ocir.us-ashburn-1.oci.oraclecloud.com/idfmutpuhiky/dev-files-server:${{ steps.dockerVersion.outputs.VERSION }}
      - name: Pushing Security Docker Image to OCI
        working-directory: ./security
        run: |
          docker build -t dev-security-server:${{ steps.dockerVersion.outputs.VERSION }} .
          docker tag dev-security-server:${{ steps.dockerVersion.outputs.VERSION }} ocir.us-ashburn-1.oci.oraclecloud.com/idfmutpuhiky/dev-security-server:${{ steps.dockerVersion.outputs.VERSION }}
          docker push ocir.us-ashburn-1.oci.oraclecloud.com/idfmutpuhiky/dev-security-server:${{ steps.dockerVersion.outputs.VERSION }}
